h1 {
    color: #445e93;
    background-color: #eeeeee;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #eeeeee;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
li {
    color: #eeeeee;
    display: inline;
    margin: 0px;
    border-right: 1px solid #eeeeee;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 17px;
}
li:first-child{
    padding-left: 100px;
}
li:last-child {
    border-right: none;
}
a {
    text-decoration: none;
    color: #eeeeee;
}
a:visited{
    color: #eeeeee;
}
nav {
    background-color: #e5935c;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 16px;
    padding-top: 16px;
    background-image: url(images/splatter\ banner2.png);
    image-
}
li :hover{
    color: #445e93;
}
.mark{
    width: 100px;
    height: auto;
    
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-image: url(images/splatter\ banner.png);
}
